<div *ngIf="data?.souscripteur?.infosBancaires">
   <!-- <div class="px-gutter py-4 border-b">
      <h2 class="title m-0"></h2>
    </div>-->
    <table class="mb-6" class="px-gutter py-4 border-b">
      <tr>
        <td>
          <p class="vertical-bar "></p>
        </td>
        <td>
          <h2 class="mb-2 headline mt-0"><strong>Mes informations bancaires </strong></h2>
        </td>
      </tr>
    </table>

    <div class="px-gutter py-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:account_circle"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.infosBancaires.titulaire}}</p>
          <p class="m-0 caption text-hint">Titulaire</p>
        </div>
      </div>

      <div class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:account_circle"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.infosBancaires.iban}}</p>
          <p class="m-0 caption text-hint">IBAN</p>
        </div>
      </div>

      <div class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:sentiment_satisfied"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.infosBancaires.bic}}</p>
          <p class="m-0 caption text-hint">BIC</p>
        </div>
      </div>

      <div class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:favorite_border"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.infosBancaires.numeroMandat}}</p>
          <p class="m-0 caption text-hint">Numero de Mandat</p>
        </div>
      </div>
      <div class="py-3 flex items-center">
        <div class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:date_range"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.infosBancaires.dateAutorisationMandat}}</p>
          <p class="m-0 caption text-hint">Date Autorisation de Mandat</p>
        </div>
      </div>
      <div>

      </div>


    </div>
</div>
