
<div class="card bg-primary flex" style="background-color: rgba(var(--color-primary), 0.1);">
    <div class="p-6 text-primary-contrast flex-auto">
        <div class="mt-4 flex items-center">
            <!-- <div class="p-1 flex items-center"></div> -->
          
            <!-- <div class="grid grid-cols-1 gap-4 sm:grid-cols-5 sm:gap-4"> -->

                 <p class="col-span-3 p-1 flex items-center text-black">
                    <span class="body-2 cursor-pointer"> 
                       

                        <div class="grid grid-cols-1 gap-4 sm:grid-cols-8 sm:gap-4">
                            <p class="col-span-2 sm:col-span-3 p-1 items-center text-black">
                                <span class="body-2 cursor-pointer">
                                    <table>
                                        <tr>
                                            <td colspan=1 align='left'><strong>Numéro de sécurité social : </strong> {{idfnss}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan=1 align='left'><strong>Date de naissance :</strong> le {{dateNaissance}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan=1 align='left'><strong>Droit à la carte TP :</strong> {{droit_carte_tp}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan=1 align='left'><strong>Droit à la télétransmission :</strong> {{droit_teletransmission}}</td>
                                        </tr>
                                        
                                    </table>
                                </span>
                            </p>
                            <p class="col-span-2 sm:col-span-2 p-1 items-center text-black">
                                <span class="body-2 cursor-pointer">
                                    <table>
                                       
                               </table>
                           </span>
                            </p>
                            <p class="col-span-2 sm:col-span-2 p-1 items-center text-black">
                                <strong> Nom Produit  </strong>
                                 <span  class="body-2 cursor-pointer"> 
                                    <div class="sm:col-span-2 col-span-4   text-black">

                                        <div *ngFor="let product of listProducts" class="tag">{{product.produit_nom}}</div>
                              
                                      </div>
                               </span>
                         </p>
                        </div>

                    </span>
                </p> 
            </div>
        </div>
    </div>
<!-- </div> -->