.tag {

    background: var(--color-primary-rgb);
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.1rem 0.2rem;
    border-radius: 6px;
    margin-bottom: 5px;
    margin-top: 5px;

}
// .td{
//     white-space: pre-line;
// }