<div class="container-fluid py-3">  
    <form #form="ngForm" exportAs="myForm" >
      <div class="flex justify-center items-center mt-3">        <div class="col-sm-12 mb-2">
          <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
          <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
            <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="p-6 flex flex-col">
          <!-- <button class="reset-btn btn py-1 mb-3" mat-raised-button color="primary" (click)="send(form)">ENVOYER MAIL</button> -->
          <button [disabled]="!form.valid" (click)="send(form)" class="mt-2" color="primary" mat-raised-button type="button">
            Se connecter
          </button>
        </div>
      </div> 
    </form>
  </div>