<div *ngIf="listeAnimaux.length">
  <div class="px-gutter py-4 border-b">
    <h2 class="title m-0">Mes animaux</h2>
  </div>

  <div class="px-gutter py-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
    <table mat-table [dataSource]="listeAnimaux">
      <ng-container *ngFor="let column of colonnesAnimal" [matColumnDef]="column.nom">
        <th mat-header-cell *matHeaderCellDef>{{ column.entete }}</th>
        <td mat-cell *matCellDef="let contrat">{{ contrat[column.nom] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="afficherColonnes"></tr>
      <tr mat-row *matRowDef="let row; columns: afficherColonnes"></tr>
    </table>
  </div>
</div>

