<div *ngIf="listeAnimaux.length">
  <div class="px-gutter py-4 border-b">
    <h2 class="title m-0">Mes animaux</h2>
  </div>

  <div class="px-gutter py-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
    <table mat-table [dataSource]="listeAnimaux">
      <ng-container *ngFor="let column of colonnesAnimal" [matColumnDef]="column.nom">
        <th mat-header-cell *matHeaderCellDef>{{ column.entete }}</th>
        <td mat-cell *matCellDef="let contrat">{{ contrat[column.nom] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="afficherColonnes"></tr>
      <tr mat-row *matRowDef="let row; columns: afficherColonnes"></tr>
    </table>
  </div>
</div>

<div class="my-12 container flex flex-col sm:flex-row items-stretch sm:items-start gap-6">
  <div class="card p-6 flex-auto">
    <table class="mb-6">
      <tr>
        <td>
          <p class="vertical-bar "></p>
        </td>
        <td>
          <h2 class="mb-2 headline mt-0"><strong>Mes demandes et réclamations</strong></h2>
        </td>
      </tr>
    </table>
    <vex-card></vex-card>
    <br>
    <vex-card></vex-card>
    <br>
    <vex-card></vex-card>
    <br>
    <br>
  </div>
</div>

