<mat-progress-spinner *ngIf="!data" style="margin-left: 46%; margin-top: 140px;" mode="indeterminate"
  color="accent"></mat-progress-spinner>
<div *ngIf="data" class="my-12 container grid grid-cols-1 sm:grid-cols-2 gap-6">
  <div class="card max-w-full overflow-hidden p-3">
    <mat-nav-list >
   <!--  <vex-contrats *ngIf="data?.listeContrats && data?.listeContrats?.length" [authObj]="authObj" [data]="data" ></vex-contrats>
   -->
    <vex-contrat-sante *ngIf ="data?.listeContrats && data?.listeContrats?.length && authObj.typeContrat !='A'" [authObj]="authObj"  [data]="data" ></vex-contrat-sante> 
   <!-- <vex-contrat-animal *ngIf ="authObj.typeContrat =='A'" [authObj]="authObj"  [data]="data" ></vex-contrat-animal> -->
  </mat-nav-list>
  </div>
   <!-- <vex-contrat-sante *ngIf="data?.listeContrats && data?.listeContrats?.length && authObj.typeContrat !='A'" [authObj]="authObj"  [data]="data" ></vex-contrat-sante> -->

  <!-- </mat-nav-list> -->

   <!-- <vex-infos-bancaires  *ngIf ="authObj.typeContrat =='A'"  [data]="data"></vex-infos-bancaires> -->
   <vex-souscripteur  [data]="data"></vex-souscripteur>
   <vex-document-home *ngIf ="authObj.typeContrat =='I'"></vex-document-home>
   <vex-cotisations *ngIf ="authObj.typeContrat =='I'" [authObj]="authObj" [data]="data"></vex-cotisations>

   
  </div>
  <vex-assures *ngIf ="authObj.typeContrat =='I' && data?.listeContrats && data?.listeContrats?.length"[authObj]="authObj" [data]="data"></vex-assures>

<!-- <vex-assures [authObj]="authObj" [data]="data"></vex-assures> -->
<!-- <vex-cotisations [authObj]="authObj" [data]="data"></vex-cotisations> -->
<!-- <vex-contrat-animal *ngIf ="authObj.typeContrat =='A'" [authObj]="authObj"  [data]="data" ></vex-contrat-animal> -->




