 .table {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  } 

  .tag {

    background: var(--color-primary-rgb);
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.1rem 0.2rem;
    border-radius: 6px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;

}
.grid-container {

  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); /* Adjust column width as needed */

  gap: 20px; /* Adjust gap between cards */

}