<div class="card bg-primary flex" style="background-color: rgba(var(--color-primary), 0.1);">

    <div class="p-4 ml-4 flex-none left  sm:block">
        <img *ngIf="beneficiaire.type=='Souscripteur'" src="assets/img/insurance/bonhomme.png" style="height: 80px">
        <img *ngIf="beneficiaire.type=='Conjoint'" src="assets/img/insurance/bague.png" style="height: 80px">
        <img *ngIf="beneficiaire.type=='Enfant'" src="assets/img/insurance/childd.png" style="height: 80px">
    </div>

    <div class="p-2 sm:p-6 text-primary-contrast flex-auto">
        <table class="mb-6">
            <tr>
                <td>
                    <p class="vertical-bar flex justify-between items-center"></p>
                </td>
                <td>
                    <div class="flex justify-between items-center ">
                        <h2 class="headline m-0  text-black">{{beneficiaire.nom}} {{beneficiaire.prenom}}</h2>
                    </div>
                </td>
            </tr>
        </table>
        <div class="mt-4">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-12 sm:gap-4">
                <div class="col-span-5 sm:col-span-6">
                    <p class="p-1 items-center text-black">
                        <span class="body-2 cursor-pointer">
                            <table>
                                <tr>
                                    <td colspan=1 align='left'><strong>{{beneficiaire.type}}</strong></td>
                                </tr>
                                <tr>
                                    <td colspan=1 align='left'>{{beneficiaire.dateNaissance}}</td>
                                </tr>
                            </table>
                        </span>
                    </p>
                </div>
                <div class="col-span-5 p-1 items-center text-black">
                    <span class="body-2 cursor-pointer">
                        <table>
                            <tr>
                                <td colspan=1 align='left'> <strong>Numéro de sécurité sociale</strong></td>
                            </tr>
                            <tr>
                                <td colspan=1 align='left'>{{beneficiaire.idfnss}}</td>
                            </tr>
                        </table>
                        <!-- État : Non traitée -->
                    </span>
                </div>
                <!-- <div class="col-span-3 p-1 items-center text-black">
                    <span class="body-2 cursor-pointer"> -->
                 <!--        <table>
                            <tr>
                                <td colspan=1 align='left'><strong>Rang Assuré</strong></td>
                            </tr>
                            <tr>
                                <td colspan=1 align='left'>{{beneficiaire.regass}}</td>
                            </tr>
                        </table> -->
              <!--       </span>
                </div> -->
                <div class="col-span-5 sm:col-span-1 p-1 flex items-center justify-center">
                    <span class="body-2 cursor-pointer">
                        <a (click)="getDetails(beneficiaire)">
                            <p class="mt-1 mb-4 flex items-center" *ngIf="!details">
                                <mat-icon
                                    class="mat-icon notranslate trans-ease-out icon-3xl text-primary mat-icon-no-color"
                                    svgIcon="mat:keyboard_arrow_down"></mat-icon>
                            </p>
                            <p class="mt-1 mb-4 flex items-center" *ngIf="details">
                                <mat-icon
                                    class="mat-icon notranslate trans-ease-out icon-3xl text-primary mat-icon-no-color"
                                    svgIcon="mat:keyboard_arrow_up"></mat-icon>
                            </p>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
  
  <div *ngIf="details">
    <vex-card-down-assures [dateNaissance] ="dateNaissance" [regass]="regass" [droit_carte_tp]="droit_carte_tp" [droit_teletransmission]="droit_teletransmission" [idfnss] ="idfnss" [listProducts]="listProducts"></vex-card-down-assures>
  </div>

