<!-- <footer>
  <div class="address-section">
    <h3 class="padding">Address</h3>
    <p  class="padding">123Saint Alvarez</p>
    <p  class="padding">Paris, S2651A3</p>
  </div>

  <div class="support-section" >
    <h3 class="padding">Support</h3>
    <p class="padding">Contact Us:</p>
    <p class="padding">Email: support-it@cergap.com</p>
    <p class="padding">Téléphone: (33) 456-652-890</p>
  </div>

  <div class="social-media-section jump">
    <h3>Réseaux sociaux</h3>
    <ul>
      <li><a href="#" class="padding"> 
        <p><i class="fa-brands fa-facebook-f padding-10-px"></i>Facebook</p></a>
      </li>
      <li><a href="#">
        <p><i class="fa-brands fa-twitter padding-10-px"></i>Twitter</p></a>
      </li>
      <li><a href="#">
        <p><i class="fa-brands fa-instagram padding-10-px" ></i>Instagram</p></a>
      </li>
    </ul>
  </div>

  <div class="text-section" style="padding-top:110px;">
    <p>&copy; 2023 CERGAP. Tous les droits sont réservés.</p>
  </div>
</footer> -->

<footer class="footer">
  <div class="container">
    <div class="footer-section">
      <h4 padding-10-px><b>Support</b></h4>
      <ul>
        <li>
          <p><a href="#" class="padding-10-px">FAQ</a></p>
        </li>
        <li>
          <p><a href="#" class="padding-10-px">Contact Us</a></p>
        </li>
        <li>
          <p><a href="#" class="padding-10-px">Terms of Service</a></p>
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h4 class="padding-10-px"><b>Social Media</b></h4>
      <ul>
        <li>
          <p><i class="fa-brands fa-facebook-f padding-10-px"></i>Facebook</p>
        </li>
        <li>
          <p><i class="fa-brands fa-twitter padding-10-px"></i>Twitter</p>
        </li>
        <li>
          <p><i class="fa-brands fa-instagram padding-10-px"></i>Instagram</p>
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h4 class="padding-10-px"><b>Address</b></h4>
      <ul>
        <li>
          <p class="padding-10-px">123Saint Alvarez</p>
        </li>
        <li>
          <p>
          <p class="padding-10-px">Paris, S2651A3</p>
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <p><b>All rights reserved &copy; 2023 Your Company</b></p>
    </div>
  </div>
</footer>