<footer>
  <div class="address-section">
    <h3 class="padding">Address</h3>
    <p  class="padding">123Saint Alvarez</p>
    <p  class="padding">Paris, S2651A3</p>
  </div>

  <div class="support-section" >
    <h3 class="padding">Support</h3>
    <p class="padding">Contact Us:</p>
    <p class="padding">Email: support-it@cergap.com</p>
    <p class="padding">Téléphone: (33) 456-652-890</p>
  </div>

  <div class="social-media-section jump">
    <h3>Réseaux sociaux</h3>
    <ul>
      <li><a href="#" class="padding"> 
        <p><i class="fa-brands fa-facebook-f padding-10-px"></i>Facebook</p></a>
      </li>
      <li><a href="#">
        <p><i class="fa-brands fa-twitter padding-10-px"></i>Twitter</p></a>
      </li>
      <li><a href="#">
        <p><i class="fa-brands fa-instagram padding-10-px" ></i>Instagram</p></a>
      </li>
    </ul>
  </div>

  <div class="text-section" style="padding-top:110px;">
    <p>&copy; 2023 CERGAP. Tous les droits sont réservés.</p>
  </div>
</footer>