<!-- <div class="container mx-auto px-4 py-8"> -->
<div class="my-20 container flex flex-col sm:flex-row items-stretch sm:items-start gap-6">
    <div class="card p-6 flex-auto">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-1 sm:gap-4">
            <div class="col-span-1 sm:col-span-1">
                <div class="p-1 items-center text-black">
                    <div class="flex items-center">

                    </div>
                    <div style="padding-left: 10%; padding-right: 10%;" class="pt-6" *ngIf="isBool">
                        <table class="mb-6">
                            <tr>
                                <td>
                                    <p class="vertical-bar flex justify-between items-center"></p>
                                </td>
                                <td>
                                    <div class="flex justify-between items-center ">
                                        <h2 class="headline m-0 text-black">
                                            <strong style="font-size: 24px;">Ajouter une demande et réclamation</strong>
                                        </h2>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        Un gestionnaire sera averti de votre demande et vous pourrez suivre l'avancement de la
                        réponse
                        directement dans la rubrique “Mes demandes”. Dès qu'une demande sera clôturée par un
                        gestionnaire, vous pourrez visualiser la réponse depuis votre espace personnel.
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-1 pt-6">
                        <div class="flex justify-center">
                            <div class="w-full sm:w-full md:w-10/12 px-4">
                                <table class="mb-6">
                                    <tr>
                                        <td>
                                            <p class="vertical-bar-small flex justify-between items-center"></p>
                                        </td>
                                        <td>
                                            <div class="flex justify-between items-center ">
                                                <h2 class="headline m-0 text-black">
                                                    <strong>Le sujet de votre demande</strong>
                                                </h2>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="relative text-left mb-8">
                                    <select (change)="onSelectSujet($event)"
                                        class="block text-black appearance-none w-full px-4 py-2 pr-8 rounded focus:outline-none focus:shadow-outline  border border-black">
                                        <option value="empty">Le sujet de votre demande</option>
                                        <option *ngFor="let webconf of filterSujet()" [value]="webconf.codeSujet">
                                            {{webconf.sujet}}</option>
                                    </select>
                                    <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M19 9l-7 7-7-7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <table class="mb-6" *ngIf="sujetOn">
                                    <tr>
                                        <td>
                                            <p class="vertical-bar-small flex justify-between items-center"></p>
                                        </td>
                                        <td>
                                            <div class="flex justify-between items-center ">
                                                <h2 class="headline m-0 text-black">
                                                    <strong>Theme</strong>
                                                </h2>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="relative text-left mb-8" *ngIf="sujetOn">
                                    <select (change)="onSelectTheme($event)"
                                        class="block text-black appearance-none w-full px-4 py-2 pr-8 rounded focus:outline-none focus:shadow-outline  border border-black">
                                        <option value="empty">Theme</option>
                                        <option *ngFor="let webconf of filterTheme(codeSujet)"
                                            [value]="webconf.codeTheme">{{webconf.theme}}</option>
                                    </select>
                                    <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M19 9l-7 7-7-7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <table class="mb-6" *ngIf="themeOn">
                                    <tr>
                                        <td>
                                            <p class="vertical-bar-small flex justify-between items-center"></p>
                                        </td>
                                        <td>
                                            <div class="flex justify-between items-center ">
                                                <h2 class="headline m-0 text-black">
                                                    <strong>Votre message</strong>
                                                </h2>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="relative text-left mb-8" *ngIf="themeOn">
                                    <textarea style="height: 100px" [value]="commentaire"
                                        class="block text-black appearance-none w-full px-4 py-2 pr-8 rounded focus:outline-none focus:shadow-outline  border border-black">
                                    </textarea>
                                </div>

                                <h2 class="pb-4" style="font-size: 16px;" *ngIf="themeOn"><strong>Votre fichier
                                    </strong></h2>
                                <div class="relative text-left pb-6" *ngIf="themeOn">
                                    <!-- <textarea style="height: 100px"
                                        class="block text-black appearance-none w-full px-4 py-2 pr-8 rounded focus:outline-none focus:shadow-outline  border border-black">
                                    </textarea> -->
                                    <div class="flex items-center justify-center w-full">
                                        <label for="dropzone-file"
                                            class="flex flex-col items-center justify-center w-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                <svg class="w-10 h-10 mb-3 text-gray-400" fill="none"
                                                    stroke="currentColor" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                                                    </path>
                                                </svg>
                                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                                        class="font-semibold">Click to upload</span> or drag and drop
                                                </p>
                                                <p class="text-xs text-gray-500 dark:text-gray-400">PDF (MAX. 1Mb)</p>
                                            </div>
                                            <input accept="image/jpeg,image/png,application/pdf" id="dropzone-file"
                                                type="file" class="hidden" (change)="handleFileInput($event)"
                                                multiple />
                                        </label>
                                    </div>
                                </div>
                                <div *ngIf="themeOn" class="w-full mb-8">
                                    <div *ngFor="let e of filesdata" class="flex items-center justify-between px-4 py-2 border border-black 
                                    rounded focus:outline-none focus:shadow-outline" style="margin-bottom: 6px;">
                                        <div class="text-black">{{e.name}}</div>
                                        <div class="text-red">
                                            <p (click)="deleteFile(e.name)" style="cursor: pointer;" ><mat-icon svgIcon="mat:delete" class="icon-sm"></mat-icon></p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="relative text-left mb-8" *ngIf="themeOn">
                                    <button (click)="allow()"
                                        class="block text-center text-white appearance-none w-full px-4 py-2 pr-8 rounded focus:outline-none focus:shadow-outline  border border-black">
                                        Envoyer la demande
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>