.w-16 {
    width: 7rem;
}

input::placeholder{
    color: whitesmoke !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 99999s;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px whitesmoke inset;
  transition: background-color 5000s ease-in-out 0s;
}
textarea:-webkit-autofill:focus{
  background-color: rgba(0, 0, 0, 0.87);

}
.mdc-snackbar--opening, .mdc-snackbar--open, .mdc-snackbar--closing {
  padding-bottom: 46.2rem !important;
}
