<div class="text-center py-12 header"
  [ngClass]="{'padding-top-1-5': isDesktop$ | async, 'padding-top-0': !(isDesktop$ | async)}" >
  <div class="container">
    <div @fadeInUp
      class="mt-24 -mb-16 mx-auto flex flex-col sm:flex-row gap-4 sm:gap-6 grid grid-cols-2 " [class.sm:grid-cols-5] = "typecrm == 'A'" [class.sm:grid-cols-6] = "typecrm != 'A'" >
      <div *ngFor="let link of links; trackBy: trackByRoute">
        <div class="bg-foreground rounded-lg ">
          <a #rla="routerLinkActive" [routerLink]="link.route"
            [ngClass]="{ 'border-primary bg-primary/10': rla.isActive, 'hover:bg-app-bar border-gray-200 border-transparent': !rla.isActive }"
            class="border block text-center p-6 trans-ease-out cursor-pointer relative text-dark flex flex-col items-center justify-center rounded-lg"
            matRipple routerLinkActive="" *ngIf="isDesktop$">
            <mat-icon [svgIcon]="link.icon" class="trans-ease-out icon-3xl text-primary"></mat-icon>
            <h3 *ngIf="isBool" class="title mb-0 mt-4">{{ link.label }} <ng-template [ngIf]="link.label.length < 18">
                <div><br></div>
              </ng-template>
            </h3>
            <h3 *ngIf="!isBool" class="title mb-0 mt-4">{{ link.label }} <ng-template [ngIf]="link.label.length < 13">
              <div><br></div>
            </ng-template>
          </h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet *ngIf="isBool" style="display: none;"></router-outlet>
<!-- <div *ngIf="!isBool" class="my-12 container flex flex-col sm:flex-row items-stretch sm:items-start gap-6"

</div>-->
