
<div *ngIf ="authObj.typeContrat !='A'" class="card max-w-full overflow-hidden p-3">
    <mat-nav-list>
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">Mes assurés</h2>
      </div>


      <a  *ngFor="let beneficiaire of listBeneficiaire;" class="rounded overflow-hidden" mat-list-item>
        <mat-icon class="icon-sm" svgIcon="mat:account_circle"></mat-icon>
        <!-- <div matListItemTitle>{{ guide.label }} </div> -->
        <table class="table w-full ">
       <tbody>
          <tr>
            <td class="py-6 border-b text-left">{{ beneficiaire.nom }} {{beneficiaire.prenom}}</td>
            <td class="py-6 border-b bg-foreground rounded-lg text-primary text-right ">{{ beneficiaire.type }}</td>
          </tr>
        </tbody>
       </table>
     </a>
      <a class="flex justify-end">
        <button (click)="gotoDetails(listBeneficiaire)" color="primary" mat-raised-button type="button">
          Details
        </button>
      </a>
 </mat-nav-list>
  
  </div>
