.mat-mdc-table .mdc-data-table__row {
    height: 110px !important;
}

.vertical-bar:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 54px;
    background-color: var(--color-primary-rgb); /* Adjust the color as per your preference */
    margin-right: 10px; /* Adjust the spacing between the vertical bar and the title */
  }

  .grid-container {

    display: grid;
  
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column width as needed */
  
    gap: 20px; /* Adjust gap between cards */
  
  }