<div *ngIf="data?.souscripteur?.nom" class="card max-w-full overflow-hidden p-3">
  <mat-nav-list>
  <!--  <p class="vertical-bar "></p>

    <div class="px-gutter py-4 border-b">
      <h2 class="title m-0">Souscripteur</h2>
    </div>
  -->
    <table class="mb-6" class="px-gutter py-4 border-b">
      <tr>
        <td>
          <p class="vertical-bar "></p>
        </td>
        <td>
          <h2 class="mb-2 headline mt-0">Souscripteur</h2>
        </td>
      </tr>
    </table>


    <div class="px-gutter py-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:account_circle"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.nom}}</p>
          <p class="m-0 caption text-hint">Nom</p>
        </div>
      </div>

      <div class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:account_circle"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.prenom}}</p>
          <p class="m-0 caption text-hint">Prénom</p>
        </div>
      </div>

      <div class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:sentiment_satisfied"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.idfnss}}</p>
          <p class="m-0 caption text-hint">N Sécurité sociale</p>
        </div>
      </div>

      <div class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:favorite_border"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.dateNaissance}}</p>
          <p class="m-0 caption text-hint">Date de naissance</p>
        </div>
      </div>
      <div *ngIf ="data?.souscripteur && authObj.typeContrat =='A'" class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:favorite_border"></mat-icon>
        </div>

        <div >
          <p class="m-0 body-1">{{data.souscripteur.username}}</p>
          <p class="m-0 caption text-hint">Email</p>
        </div>
      </div>

      <div *ngIf ="authObj.typeContrat =='A'" class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:favorite_border"></mat-icon>
        </div>

        <div >
          <p class="m-0 body-1">{{data.souscripteur.numeroTel}}</p>
          <p class="m-0 caption text-hint">Numéro de téléphone</p>
        </div>
      </div>


      <div *ngIf =" authObj.typeContrat =='I'" class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:euro_symbol"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.infosBancaires.bic}}</p>
          <p class="m-0 caption text-hint">Bic</p>
        </div>
      </div>


      <div *ngIf ="authObj.typeContrat =='I'" class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:euro_symbol"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.infosBancaires.iban}}</p>
          <p class="m-0 caption text-hint">IBAN</p>
        </div>
      </div>



      <div *ngIf ="authObj.typeContrat =='I'" class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:chrome_reader_mode"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.infosBancaires.numeroMandat}}</p>
          <p class="m-0 caption text-hint">Numéro Mandat</p>
        </div>
      </div>

  <div *ngIf =" authObj.typeContrat =='I'" class="py-3 flex items-center">
        <div
          class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
          <mat-icon class="icon-sm" svgIcon="mat:date_range"></mat-icon>
        </div>

        <div>
          <p class="m-0 body-1">{{data.souscripteur.infosBancaires.dateAutorisationMandat}}</p>
          <p class="m-0 caption text-hint">Date autorisation Mandat</p>
        </div>
      </div>




    </div>
  </mat-nav-list>
</div>
