<!-- <div class="container mx-auto px-4 py-8"> -->
<div class="my-12 container flex flex-col sm:flex-row items-stretch sm:items-start gap-6">
  <div class="card p-6 flex-auto">
    <table class="mb-6">
      <tr>
        <td>
          <p class="vertical-bar "></p>
        </td>
        <td>
          <h2 class="mb-2 headline mt-0"><strong>Mes demandes et réclamations</strong></h2>
        </td>
      </tr>
    </table>
    <vex-card></vex-card>
    <br>
    <vex-card></vex-card>
    <br>
    <vex-card></vex-card>
    <br>
    <br>
  </div>
</div>