.mat-mdc-table .mdc-data-table__row {
    height: 110px !important;
}

.vertical-bar:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 54px;
    background-color: var(--color-primary-rgb);
    margin-right: 10px;
}