<!-- <div class="container mx-auto px-4 py-8"> -->
<div class="my-12 container flex flex-col sm:flex-row items-stretch sm:items-start gap-6">
  <div class="card p-6 flex-auto">
    <table class="mb-6">
      <tr>
        <td>
          <p class="vertical-bar flex justify-between items-center"></p>
        </td>
        <td>
          <div class="flex justify-between items-center ">
            <h2 class="headline m-0  text-black"><strong>Mes demandes et réclamations</strong></h2>
          </div>
        </td>
      </tr>
    </table>

    <!-- --------------------------------------------------------------- -->

    <div class="card bg-primary flex" style="background-color: rgba(var(--color-primary), 0.1); cursor: pointer;" (click)="ajouterDemande()">
      <div class="p-2 sm:p-6 text-primary-contrast flex-auto">
        <div class="mt-4">
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-1 sm:gap-4">
            <div class="col-span-1 sm:col-span-1 p-1 flex items-center justify-center">
              <span class="body-2 cursor-pointer">
                <div class="mt-1 mb-4 flex items-center" >
                  <h2 class="headline m-0 text-black">Ajouter une demande </h2>
                  <mat-icon class="mat-icon notranslate trans-ease-out icon-3xl text-primary mat-icon-no-color"
                            svgIcon="mat:add_circle"></mat-icon>
                </div>
                
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------------------------- -->

    <div *ngFor="let demande of demandes" style="padding-top : 20px;">
      <vex-card [demande]="demande"></vex-card>
    </div>
  </div>
</div>