<div class="mt-6 flex flex-col md:flex-row md:items-start">
  <div class="flex-auto">
    <mat-progress-spinner style="margin: auto; margin-top: 40px; margin-bottom: 40px;" *ngIf="!data.souscripteur"  mode="indeterminate" ></mat-progress-spinner>
    <div class="card" *ngIf="data.souscripteur">
      <div class="px-gutter py-4 border-b">
        <h2 class="title m-0">About</h2>
      </div>
      <div class="px-gutter py-4 grid grid-cols-1 sm:grid-cols-2 gap-4" *ngIf="data.souscripteur">
        <div class="py-3 flex items-center">
          <div @scaleIn
            class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:phone"></mat-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{data.souscripteur.numeroTel}}</p>
            <p class="m-0 caption text-hint">Numéro de téléphone</p>
          </div>
        </div>

        <div class="py-3 flex items-center">
          <div @scaleIn
            class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:date_range"></mat-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{data.souscripteur.dateNaissance}}</p>
            <p class="m-0 caption text-hint">Date de naissance</p>
          </div>
        </div>

        <div class="py-3 flex items-center">
          <div @scaleIn
            class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:mail"></mat-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{data.souscripteur.username}}</p>
            <p class="m-0 caption text-hint">Adresse mail</p>
          </div>
        </div>

        <div class="py-3 flex items-center">
          <div @scaleIn
            class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:location_on"></mat-icon>
          </div>

          <div @fadeInRight>
            <p class="m-0 body-1">{{data.souscripteur.adressPostale}}</p>
            <p class="m-0 caption text-hint">Adresse postale</p>
          </div>
        </div>

        <div class="py-3 flex items-center">
          <div @scaleIn
            class="w-10 h-10 rounded-full bg-gray/10 text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:add"></mat-icon>
          </div>

          <p @fadeInRight class="m-0 body-1 cursor-pointer">Add an address</p>
        </div>

        <div class="py-3 flex items-center">
          <div @scaleIn
            class="w-10 h-10 rounded-full bg-gray/10 text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center">
            <mat-icon class="icon-sm" svgIcon="mat:whatshot"></mat-icon>
          </div>

          <p @fadeInRight class="m-0 body-1 cursor-pointer">Add social profiles</p>
        </div>
      </div>
    </div>
  </div>
</div>