<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
    <div @fadeInUp class="card overflow-hidden w-full max-w-md">
      <div class="p-6 pb-0 flex flex-col items-center justify-center">
        <div class="fill-current text-center">
            <img class="w-16" src="assets/img/demo/logo.png" style="width: 7rem;">
        </div>
      </div>
  
      <div class="text-center mt-4">
        <h2 class="title m-0">Rénitialiser le mot de passe </h2>
        <h4 class="body-2 text-secondary m-0">veuillez saisir votre nouveau mot de passe</h4>
      </div>
  
      <div [formGroup]="form" class="p-6 flex flex-col gap-4 flex-auto flex flex-col">
        <div>
          <mat-form-field class="flex-1 block">
            <mat-label>Password</mat-label>
            <input [type]="inputType" formControlName="password" matInput>
            <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
              <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
              <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
            </button>
            <mat-error *ngIf="form.get('password').hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="form.get('password').hasError('minlength')">Password must be at least 8 characters long</mat-error>
            <mat-error *ngIf="form.get('password').hasError('maxlength')">Password must not exceed 10 characters</mat-error>
          </mat-form-field>
  
          <mat-form-field class="flex-1 block">
            <mat-label>Password (Confirm)</mat-label>
            <input [type]="inputType" formControlName="passwordConfirm" matInput>
            <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
              <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
              <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
            </button>
            <mat-error *ngIf="form.get('passwordConfirm').hasError('required')">Confirmation is required</mat-error>
            <mat-error *ngIf="form.hasError('passwordsMismatch')">Passwords do not match</mat-error>
          </mat-form-field>
        </div>
  
        <button [disabled]="!form.valid" (click)="send()" color="primary" mat-raised-button type="button">
          RESET PASSWORD
        </button>
      </div>
    </div>
  </div>
  