<style>
  /* CSS Grid Layout */

</style>

<mat-progress-spinner style="margin: auto; margin-top: 140px;" *ngIf="documentsGene.length == 0 && documentsNor.length == 0 && DocEcheancier.length == 0 "
  mode="indeterminate"></mat-progress-spinner>

<div *ngIf="documentsGene.length != 0 || documentsNor.length != 0 || DocEcheancier.length != 0 "
  class="my-12 container flex flex-col sm:flex-row items-stretch sm:items-start gap-6">
  <div class="card p-6 flex-auto">
    <h4 class="headline mt-0 mb-6">Documents</h4>

    <mat-accordion displayMode="flat">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Documents génériques</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="button-grid" *ngIf="isBool">
          <div *ngFor="let doc of documentsGene">
            <button type="submit" (click)="downloadDocumentGenerique(doc)" style="cursor: pointer;">
              <img alt="pdf file" loading="lazy" width="20" height="30" decoding="async" data-nimg="1"
                src="assets/img/avatars/pdf.svg" style="color: transparent;">
              {{ doc.name }}
            </button>
          </div>
        </div>
        <div class="mobileVersion" *ngIf="!isBool">
          <div *ngFor="let doc of documentsGene">

            <button type="submit" (click)="downloadDocumentGenerique(doc)" style="cursor: pointer;">
              <img alt="pdf file" loading="lazy" width="20" height="30" decoding="async" data-nimg="1"
                src="assets/img/avatars/pdf.svg" style="color: transparent;">
              {{ doc.name }}
            </button>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Autre Documents</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="button-grid" *ngIf="isBool">
          <div *ngFor="let doc of documentsNor">
            <button type="submit" (click)="downloadDocumentNormal(doc)" style="cursor: pointer;">
              <img alt="pdf file" loading="lazy" width="20" height="30" decoding="async" data-nimg="1"
                src="assets/img/avatars/pdf.svg" style="color: transparent;">
              {{ doc.name }}
            </button>
          </div>
          <div *ngFor="let doc of DocEcheancier">
            <button type="submit" (click)="echeancierDoc(doc)" style="cursor: pointer;">
              <img alt="pdf file" loading="lazy" width="20" height="30" decoding="async" data-nimg="1"
                src="assets/img/avatars/pdf.svg" style="color: transparent;">
              {{ doc.name }}
            </button>
          </div>
          <!-- Add more buttons here -->
        </div>
        <div class="ismobile" *ngIf="!isBool">
          <div *ngFor="let doc of documentsNor">

            <button type="submit" (click)="downloadDocumentNormal(doc)" style="cursor: pointer;">
              <img alt="pdf file" loading="lazy" width="20" height="30" decoding="async" data-nimg="1"
                src="assets/img/avatars/pdf.svg" style="color: transparent;">
              {{ doc.name }}
            </button>
          </div>
          <div *ngFor="let doc of DocEcheancier">

            <button type="submit" (click)="echeancierDoc(doc)" style="cursor: pointer;">
              <img alt="pdf file" loading="lazy" width="20" height="30" decoding="async" data-nimg="1"
                src="assets/img/avatars/pdf.svg" style="color: transparent;">
              {{ doc.name }}
            </button>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </div>

</div>