<div class="my-12 container flex flex-col sm:flex-row items-stretch sm:items-start gap-6">
  <div class="card p-6 flex-auto">
     <h4 class="headline mt-0 mb-6">Documents</h4>
     <mat-expansion-panel  >
        <mat-expansion-panel-header>
           <mat-panel-title>Documents contractuels</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-progress-spinner style="margin: auto;width: 2.5rem;" *ngIf="documentsGene.length ==0 " mode="indeterminate"></mat-progress-spinner>
        <div class="Test-grid" >
           <div *ngFor="let doc of documentsGene">
              <button type="submit" (click)="downloadDocumentGenerique(doc)" style="cursor: pointer;">
              <img alt="pdf file" loading="lazy" width="20" height="30" decoding="async" data-nimg="1" src="assets/img/avatars/pdf.svg" style="color: transparent;">
              {{ doc.name }}
              </button> 
           </div>
        </div>
     </mat-expansion-panel>
     <mat-accordion displayMode="flat">
        <mat-expansion-panel [expanded]="true" >
           <mat-expansion-panel-header>
              <mat-panel-title>Autre Documents</mat-panel-title>
           </mat-expansion-panel-header>
           <div class="flex justify-center">
              <div class="h-56 grid grid-cols-3 gap-4 content-end">
                 <ng-container *ngFor="let card of cardData; let i = index" >
                    <div class="flat-card card-spacing ">
                       <div class="card-header">
                          <h2 class="text-black">{{ card.titcou }}</h2>
                          <span class="body-2 cursor-pointer">
                             <a (click)="Solution1(card.enviro, i)">
                                <p class="mt-1 mb-4 flex items-center" *ngIf="!detailsTab[i]">
                                   <mat-icon class="mat-icon notranslate trans-ease-out icon-3xl text-primary mat-icon-no-color" svgIcon="mat:arrow_drop_down"></mat-icon>
                                </p>
                                <p class="mt-1 mb-4 flex items-center" *ngIf="detailsTab[i]">
                                   <mat-icon class="mat-icon notranslate trans-ease-out icon-3xl text-primary mat-icon-no-color" svgIcon="mat:arrow_drop_up"></mat-icon>
                                </p>
                             </a>
                          </span>
                       </div>
                       <div class="card-content" *ngIf="detailsTab[i]">
                          <div *ngFor="let doc of documentsNor">
                             <mat-progress-spinner style="margin: auto;width: 2.5rem;" *ngIf="documentsNor.length === 0" mode="indeterminate"></mat-progress-spinner>
                             <ng-container>
                                <button type="submit" (click)="downloadDocumentNormal(doc)" style="cursor: pointer;">
                                <img alt="pdf file" loading="lazy" width="20" height="30" decoding="async" data-nimg="1" src="assets/img/avatars/pdf.svg" style="color: transparent;">
                                <span>{{ doc.name.split('/')[1] }}</span>
                                </button>
                             </ng-container>
                          </div>
                       </div>
                    </div>
                 </ng-container>
              </div>
           </div>
        </mat-expansion-panel>
     </mat-accordion>
  </div>
</div>