@media print {

  .p-gutter{
    padding-top: calc(2 * var(--toolbar-height)) !important;
}

  .card {
    box-shadow: none !important;
  }
}


.table {
  td {
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}
